extends layout

block content
  main.pagina-jogos
    a.voltar-jogos(href='/jogos') Voltar para jogos

    section.cabecalho-jogos
      span.etiqueta-jogos= jogo.etiqueta
      h1= jogo.nome
      p.subtitulo= jogo.subtitulo
      p.subtitulo= jogo.descricao

    section.grade-isaac
      figure.visual-jogos
        img(
          src=jogo.imagem
          alt=jogo.alt
          loading='lazy'
          referrerpolicy='no-referrer'
        )
        figcaption
          | Imagem da internet (fonte: #{jogo.fonteImagem}).

      article.info-isaac
        h2 Sobre o jogo
        p
          | O jogo combina ritmo rapido, exploracao e decisao tatica durante cada run.
          | A variedade de inimigos, poderes e mapas cria alto fator de rejogabilidade.
        p
          | Ideal para quem gosta de progresso por habilidade e descobertas constantes.
        a.botao-jogos(href=jogo.linkOficial target='_blank' rel='noopener noreferrer') Ver pagina oficial

  footer.rodape
    p Guilherme Scandolara Selau | guilhermesjs9@gmail.com
