extends layout

block content
  main.pagina-jogos
    section.cabecalho-jogos
      span.etiqueta-jogos Catalogo gamer
      h1= title
      p.subtitulo
        Jogos conectam desafio, exploracao e narrativa em experiencias diferentes.
      p.subtitulo= destaque.subtitulo
      a.botao-jogos(href=`/jogos/${destaque.slug}`) Ver destaque: #{destaque.nome}

    figure.visual-jogos
      img(
        src='/images/jogos-banner.svg'
        alt='Ilustracao generica sobre jogos'
      )
      figcaption Uma selecao para quem gosta de jogos com personalidade.

  footer.rodape
    p Guilherme Scandolara Selau | guilhermesjs9@gmail.com
